<header>
    <img src="../assets/img/perfil_resized.jpg" alt="Romildo Amaro - Foto Perfil"
    width="130px" height="130px" loading="eager"/>

    <h1>Romildo Amaro</h1>
</header>

<aside>
    <div class="container">
        <p>Full Stack Javascript | Java | Angular | NodeJs | React</p>
        <p>Recife - PE, Brasil</p>
        <p>
            Estou a 1 ano atuando na área de desenvolvimento de software.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="../assets/pdf/Currículo Romildo Amaro.pdf" target="_blank" class="btn btn-primary">Download CV</a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/romildo-a-3823b8140/" target="_blank" class="btn btn-secondary">LinkedIn</a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="../assets/icons/whatsapp.svg" alt="Icone contato WhatsApp" width="22px" height="24px"/>

                <figcaption>
                    <a href="https://wa.me/5581985337935" target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: (81) 9 8533-7935</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src="../assets/icons/mail.svg" alt="Icone contato E-mail" width="22px" height="24px"/>

                <figcaption>
                    <a href="mailto:romildoamaro2@gmail.com" target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>romildoamaro2&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>