.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;

    &.btn-primary, &.btn-secondary {
        padding: 10px;
        font-size: 16px;
        border-radius: 7px;
    }

    &.btn-primary {
        color: var(--color2);
        background: var(--color1);

        &:hover {
            background: var(--color5);
            color: var(--color3);
        }
    }

    &.btn-secondary {
        color: var(--color2);
        background: var(--color1);

        &:hover {
            background: var(--color5);
            color: var(--color3);
        }
    }
}